:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
:host .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}
.mat-form-field {
  width: 100%;
}
mat-card {
  max-width: 250px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
mat-card-actions button {
  margin-right: 10px;
}
.button_spinner {
  position: absolute;
  display: none;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
  transform: scale(0);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

}
.button_spinner > div {
  position: absolute;
}